* {
  margin: 0;
  padding: 0;
}

.w {
  width: 1440px;
  margin: 0 auto;

  li {
    list-style: none;
  }
}

.box {
  background-color: antiquewhite;
}

.content {
  margin-top: 40px;
}

.topbar {
  height: 150px;
  line-height: 150px;
  background-color: rgb(255, 99, 71);
  border-radius: 0 0 35px 35px;

  p {
    font-size: 30px;
    font-weight: 800;
    padding-left: 10px;
  }
}

.cleanfix::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

/* 商品栏 */
.left {
  float: left;
  width: 936px;
  margin-right: 35px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.139);
  box-sizing: border-box;
  padding: 20px 0 20px 20px;

  .title {
    border-bottom: 2px solid red;
    height: 30px;
    margin-right: 20px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 10px;
  }

  li {
    float: left;
    width: 290px;
    border: 1px solid rgba(97, 97, 97, 0.272);
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;

    &:hover {
      transform: translateY(1px);
      box-shadow: 0 0 10px tomato;
      border: 1px solid tomato;
      transition: box-shadow 0.5s;
    }
  }

  .cats li:nth-child(3n) {
    margin-right: 0px;
  }

  .imgbox {
    width: 290px;
    height: 220px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 9.2px 9.2px 0 0;
  }

  .name {
    margin: 15px 15px 10px 15px;
    font-weight: 500;
  }

  .pricebox {
    margin-left: 15px;
    color: red;
    font-weight: 800;
  }

  button {
    text-align: center;
    width: 260px;
    height: 40px;
    margin: 15px;
    border-radius: 5px;
    background-color: rgba(255, 99, 71, 0.945);
    font-size: 18px;
    font-weight: 400;
    color: rgba(243, 243, 243, 0.984);
    border: none;

    &:hover {
      font-weight: 600;
      background-color: tomato;
      color: white;
    }
  }
}

/* 购物栏 */
.right {
  float: left;
  width: 466px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.139);
  box-sizing: border-box;
  padding: 20px;
  overflow: scroll;
  height: 659px;

  .title {
    border-bottom: 2px solid red;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 10px;
  }

  .myCats li {
    box-sizing: border-box;
    /* border: 1px solid black; */
    padding: 20px 0;
    text-align: center;
    height: 130px;

    .imgbox {
      float: left;
      width: 110px;
      height: 80px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 10px;
    }

    .detail {
      float: left;
      margin-left: 20px;
      line-height: 25px;
      text-align: left;
      margin-top: 10px;

      .name {
        font-weight: 600;
      }

      .pricebox {
        color: red;
        font-weight: 600;
      }

      .cost {
        opacity: 0;
        height: 0;
      }

    }

    .count {
      margin-top: 20px;
      float: right;


      input {
        height: 14px;
        width: 20px;
        outline: none;
        border-radius: 4px;
        text-align: center;
        padding: 2px;
        border: 1px solid rgba(128, 128, 128, 0.434);
      }

      button {
        width: 20px;
        border-radius: 4px;
        border: 1px solid rgba(128, 128, 128, 0.434);
        height: 20px;
      }

      .disabled {
        cursor: not-allowed;
      }
    }
  }

  li+li {
    border-top: 1px solid rgba(128, 128, 128, 0.187);
  }

  .del {
    color: red;
    cursor: pointer;
    margin-left: 30px;

    &:hover {
      font-weight: 600;
    }
  }

}

/* 隐藏滚动条 */
.scrollable-content::-webkit-scrollbar {
  display: none;
}

/* 滚动定位 */
.fixed {
  position: fixed;
  top: 20px;
  right: 45px;
}

/* 计价 */
.countPrice {
  border-top: 1px solid red;
  padding-top: 15px;
  line-height: 25px;

  .all,
  .cost {
    font-size: 14px;
    font-weight: 400;

  }

  .price0 {
    float: right;
  }

  .price1 {
    float: right;
  }

  .finalPrice {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 0, 0, 0.094);

    .price2 {
      float: right;
    }
  }

  /* 结算按钮 */
  button {
    text-align: center;
    width: 400px;
    height: 40px;
    margin: 15px;
    border-radius: 5px;
    background-color: tomato;
    font-size: 18px;
    font-weight: 400;
    color: white;
    border: none;

    &:hover {
      font-weight: 600;
    }
  }
}

/* 返回 */
.back {
  position: fixed;
  right: 2px;
  font-size: 12px;
  bottom: 35px;
  opacity: 0;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  background-color: rgba(255, 99, 71, 0.856);
  color: rgba(255, 255, 255, 0.831);
  width: 40px;
  height: 40px;
  transition: all 1s;

  &:hover {
    background-color: tomato;
    color: white;
  }
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
